{% extends 'base.html' %}

{% block title %}Pool - Reservations by Date{% endblock %}

{% block 'content' %}

<h1>Pool - Reservations by Date</h1>
<br/>
<form action="{% url 'search_results' %}" method="get">
	<table class="table" style="width: 30%">
		<tr>
			<td>			
				<label for="date">Date</label>
			</td>
			<td>	
				<input type="date" class="form-control" id="date" name="q"					
		        value="{{ for_date }}"
		        min="{{ for_date }}" max="{{ maxdate }}">						
			</td>
			<td>
				<button type="submit" class="btn btn-primary">Search</button>
			</td>
		</tr>	
	</table>			
</form>		

{% endblock %}
