{% extends 'base.html' %}

{% block title %}Pool - Edit Reservations{% endblock %}

{% block 'content' %}

<h1>Pool - Edit Reservations</h1>
<br/>
{% if get_reservation %}
	<table style="width:100%">
		<tr><h3>Current Reservation:</b></h3>
		<tr>
			<td><b>{{ get_reservation.name }}</b></td>
			<td><b>{{ get_reservation.date }}</b></td>
			<td><b>{{ get_reservation.time }}</b></td>
		</tr>	
	</table>
	<br/><br/>

	<form method="POST">
		{% csrf_token %}	
		  <div class="form-group">  
	    <label for="name">Enter Name</label>  
	    <input type="text" class="form-control" value="{{ get_reservation.name }}" name="name">    
	  </div>	  
	  
	  <br/>

	  <label for="date">Date:</label>
		<input type="date" id="date" name="date"
        value="2020-06-01"
        min="2020-01-01" max="2021-12-31">
	  
	  <label for="time">Select a Time:</label>
	   	<select name="time" id="time">
		  <option value="12:00 AM">12:00 AM</option>
		  <option value="12:30 AM">12:30 AM</option>
		  <option value="01:00 AM">01:00 AM</option>
		  <option value="01:30 AM">01:30 AM</option>
		  <option value="02:00 AM">02:00 AM</option>
		  <option value="02:30 AM">02:30 AM</option>
		  <option value="03:00 AM">03:00 AM</option>
		  <option value="03:30 AM">03:30 AM</option>
		  <option value="04:00 AM">04:00 AM</option>
		  <option value="04:30 AM">04:30 AM</option>
		  <option value="05:00 AM">05:00 AM</option>
		  <option value="05:30 AM">05:30 AM</option>
		  <option value="06:00 AM">06:00 AM</option>
		  <option value="06:30 AM">06:30 AM</option>
		  <option value="07:00 AM">07:00 AM</option>
		  <option value="07:30 AM">07:30 AM</option>
		  <option value="08:00 AM">08:00 AM</option>
		  <option value="08:30 AM">08:30 AM</option>
		  <option value="09:00 AM">09:00 AM</option>
		  <option value="09:30 AM">09:30 AM</option>
		  <option value="10:00 AM">10:00 AM</option>
		  <option value="10:30 AM">10:30 AM</option>
		  <option value="11:00 AM">11:00 AM</option>
		  <option value="11:30 AM">11:30 AM</option>
		  <option value="12:00 PM">12:00 PM</option>
		  <option value="12:30 PM">12:30 PM</option>
		  <option value="01:00 PM">01:00 PM</option>
		  <option value="01:30 PM">01:30 PM</option>
		  <option value="02:00 PM">02:00 PM</option>
		  <option value="02:30 PM">02:30 PM</option>
		  <option value="03:00 PM">03:00 PM</option>
		  <option value="03:30 PM">03:30 PM</option>
		  <option value="04:00 PM">04:00 PM</option>
		  <option value="04:30 PM">04:30 PM</option>
		  <option value="05:00 PM">05:00 PM</option>
		  <option value="05:30 PM">05:30 PM</option>
		  <option value="06:00 PM">06:00 PM</option>
		  <option value="06:30 PM">06:30 PM</option>
		  <option value="07:00 PM">07:00 PM</option>
		  <option value="07:30 PM">07:30 PM</option>
		  <option value="08:00 PM">08:00 PM</option>
		  <option value="08:30 PM">08:30 PM</option>
		  <option value="09:00 PM">09:00 PM</option>
		  <option value="09:30 PM">09:30 PM</option>
		  <option value="10:00 PM">10:00 PM</option>
		  <option value="10:30 PM">10:30 PM</option>
		  <option value="11:00 PM">11:00 PM</option>
		  <option value="11:30 PM">11:30 PM</option>
		</select>
		  <br/><br/><br/>
		  
		  <button type="submit" class="btn btn-primary">Save Changes</button>
	</form>

	<br/>
	<br/>
	<form method="POST" action="{% url 'delete' get_reservation.id %}">
		{% csrf_token %}
		<input type="hidden" value="{{ get_reservation.id }}" name="id">
		<button type="submit" class="btn btn-primary">Delete Reservation</button>
	</form>	

{% endif %}

{% endblock %}